@import "../../scss/vars.scss";

.guilds {
	background-color: $p-light;
	height: 949px;
	width: 70px;
	overflow: hidden;
	.scroller {
		width: 88px;
		height: 949px;
		overflow-y: scroll;
		overflow-x: hidden;
		
	}
	.scroller :first-child.guild {
		margin-bottom: 10px;
	}
	.scroller :not(:first-of-type).guild {
		margin-bottom: 5px;
		overflow: hidden;
		box-shadow: 0 0 0 3px $s-light;
	}
	.separator {
		margin-top: 5px;
		margin-left: 10px;
	}
}

$guild-size: 50px;

.guild {
	width: 50px;
	height: 50px;
	text-align: center;
	margin-left: 10px;
	margin-top: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	a {
		width: $guild-size;
		height: $guild-size;
	}
	i {
		font-size: $guild-size;
	}
	img {
		width: $guild-size;
		height: $guild-size;
	}
}

.friends-online {
  color: hsla(0, 0%, 100%, 0.3);
  font-size: 10px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 50px;
  word-wrap: normal;
}