<aside class="guilds">
	<div class="scroller">
		<div class="guild" id="0" data-toggle="tooltip" data-placement="right" title="Private messages">
			<router-link class="overflow waves-effect waves-light" draggable="false" to="/guild/0">
				<i class="material-icons">chat</i>
			</router-link>
		</div>
		<div class="separator friends-online"><span>{{ friendsOnline }} online</span></div>
		<div class="guild" v-for="guild in guilds" :id="guild.id" draggable="true" data-toggle="tooltip" data-placement="right" :title="guild.name">
			<router-link class="waves-effect waves-light" draggable="false" :to="'/guild/'+guild.id">
				<span v-if="hasImageUrl">
					<img v-if="guild.id !== 0" :src="guild.img">
				</span>
				<span v-if="!hasImageUrl">
					<i class="material-icons" v-if="guild.id !== 0">{{ guild.img }}</i>
				</span>
			</router-link>
		</div>
	</div>
</aside>