@import '~bootstrap/scss/bootstrap';
@import '~materialize-css/dist/css/materialize.min.css';

@import '../assets/fonts/junction/junction.css';
@import '../assets/fonts/material-icons/style.css';

@import './vars.scss';

.offset-310 {
	padding-left: 310px;
	z-index: 0;
	padding-right: 0px;
}

.col-fixed-70 {
	position: fixed;
	z-index: 1;
}

.col-fixed-240 {
	margin-left: 70px;
	position: fixed;
	z-index: 1;
}

a {
	color: white !important;
	text-decoration: none !important;
}

html {
	height: 100%;
}

body {
	height: 100%;

	background-color: $primary-color;
	color: white;
	font-family: 'Junction';

	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	line-height: 1;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
