// Color palette from: https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=212121
$primary-color: #424242;
$p-light: #6d6d6d;
$p-dark: #1b1b1b;
$secondary-color: #212121;
$s-light: #484848;
$s-dark: #000000;

$add-color: #929292;