body {
    background-color: #23272A;
    color: white;
}

#spinner {
    color: white;
    width: 100px;
    height: 100px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}