@import "../../scss/vars.scss";

header {
    width: 240px;
    height: 45px;
    background-color: $s-dark;
    display: inline-block;
    div {
        margin-top: 13px;
        margin-left: 15px;
        font-weight: bold;
        font-size: 19px;
        white-space: nowrap;
    }
}

#channel-list {
    width: 240px;
    height: 949px;
    background-color: $s-light;
}