doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Decentracord
		meta(name='description', content='Decentracord - an app just like discord but living entirely on the IPFS network and the Ethereum blockchain')
		meta(name='author', content='lukas2005')
		link(rel='stylesheet', href='css/styles.css')
		!= "<!--[if lt IE 9]>"
		!= '<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>'
		!= "<![endif]-->"
	body
		p Test
		script(src='js/index.js')