doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='description', content='Anchor - an app just like discord but living entirely on the IPFS network and the Ethereum blockchain')
		meta(name='author', content='lukas2005')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title Anchor
	body
		#app
			sidebar
				guilds-scroller
			main.col-6
		script(src='bundle.js')
