extends ~html-webpack-template-pug/layout.pug

block head
	meta(charset='utf-8')
	meta(name='description', content=htmlWebpackPlugin.options.description)
	meta(name='author', content='lukas2005')

	meta(property='og:image', content='/og-image.jpg')
	meta(property='og:image:width', content='1799')
	meta(property='og:image:height', content='942')
	meta(property='og:title', content=htmlWebpackPlugin.options.title)
	meta(property='og:description', content=htmlWebpackPlugin.options.description)
	meta(property='og:url', content=htmlWebpackPlugin.options.url)

block content
	#app
		guilds-scroller
		.col-6
			router-view
		div(style="clear: both;")
	//script(src="lib/web3.min.js")